body{
    background-color:antiquewhite;
}

.italics{
    font-style: italic;
    text-align: center;
}

h1,h2,main,p,header,footer{
text-align: center;
}
li{
    text-align: left;
}
a{
    color:maroon;
}


@media (min-width: 576px){
    
};