

.black{
    background-color: black;
    color: white;
}
tbody tr td:nth-child(even) {
    color:black;
    background-color: white;
  }
  
tbody tr td:nth-child(odd) {
    background-color: grey;
    color:white;
}